.container {
    max-width: 400px;
    margin: 0 auto;
    padding: 20px;
    text-align: center;
  }
  
  h1 {
    margin-bottom: 20px;
  }
  
  #message {
    margin-bottom: 20px;
    font-weight: bold;
  }
  
  #signup-page, #profile-page {
    display: none;
  }
  
  #profile-page {
    text-align: left;
    margin-top: 20px;
  }
  
  #user-details {
    margin-bottom: 10px;
  }
  
  #logout-btn {
    margin-top: 10px;
  }
  